.video {
    position: relative;
    display: flex;
    width: 18%;
    min-width: 230px;
    flex-direction: column;
    background-color: var(--boxColor);
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px -1px var(--boxShadowColor);
}

.video .order {
    position: absolute;
    font-size: 10px;
    margin: 0 12px 8px 0;
    bottom: 0;
    right: 0;
}

.video img {
    width: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.video .container {
    display: flex;
    flex-direction: column;
    padding: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.video h3 {
    display: -webkit-box;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.video h5 {
    margin: 0;
    font-size: 11px;
    font-weight: 300;
}

.video .lastTime {
    margin-top: 2px;
}

.video .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

.video .buttons a {
    width: 20%;
    padding: 8px;
    text-decoration: none;
    color: var(--textColor);
}

.video .buttons a:hover { cursor: pointer; }

@media screen and (min-width: 1833px) {
    .video { width: 10%; }
}

@media screen and (max-width: 792px) {
    .video { width: 40%; }
}

@media screen and (max-width: 538px) {
    .video { width: 90%; }
}