:root {
  --dark-backgroundColor: #212121;
  --dark-textColor: white;

  --white-backgroundColor: #e9f2eb;
  --white-textColor: black;
}

.app {
  width: 100%;
  height: 100vh;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

.dark-theme {
  --backgroundColor: var(--dark-backgroundColor);
  --textColor: var(--dark-textColor);
}

.light-theme {
  --backgroundColor: var(--white-backgroundColor);
  --textColor: var(--white-textColor);
}